@use '../../components/buttons';
@use '../../utilities/responsive';

.hero {

    display: grid;
    grid-template-columns: var(--grid-container);
    height: 100vh;
    width: 100%;
    background-image: url(/src/assets/images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.38;
    }
    
    &__inner {
        grid-column: inner;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 40rem;
        padding-top: 175px;
    }

    &__title {
        font-size: clamp(3rem, 1.8026rem + 5.4737vw, 6.25rem);
        display: block;
        margin-bottom: 3rem;
        color: var(--color-light);
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &-footer {
        min-height: 100px;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        &__readmore, &__social {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__readmore {

            background-color: transparent;
            border: none;

            &-text {
                color: var(--color-light);
                font-family: var(--font-primary-sans);
                font-size: var(--font-size-1);
            }
        }
    }

}

.button {

    &--booking {
        @include buttons.default;

    }

    &--membership {
        @include buttons.default($background: var(--color-secondary), $hover-background: var(--color-secondary-500));
    }

}

