.site-header {
    position: fixed;
    width: 100%;
    height: 175px;
    background-color: green; //temp
    display: grid;
    grid-template-columns: var(--grid-container);


    &__inner {
        grid-column: inner;
        background-color: pink; //temp
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}