

.site-header {
    position: fixed;
    width: 100%;
    height: 175px;
    display: grid;
    grid-template-columns: var(--grid-container);
    z-index: 99;

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}

.menu-button {
    width: 21px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;


    &:hover {
        cursor: pointer;
    }

    &__hamburger {
        position: relative;
        width: 21px;
        height: 3px;
        background-color: var(--color-light);

        &::before, &::after {
            content: '';
            position: absolute;
            width: 21px;
            height: 3px;
            background-color: inherit;
            transition: all 0.2s;
        }

        &::before {
            top: -6px;
            left: 0;
        }
        
        &::after {
            bottom: -6px;
            left: 0;
        }

        &:active {

            transform: rotate(45deg);
            
            &::before {
                top: 0;
                transform: rotate(90deg);
            }

            &::after {
                transform: translateY(-6px) rotate(180deg);
                opacity: 0;
                visibility: hidden;
                
            }
        }
    }
}